@tailwind base;
@tailwind components;
@tailwind utilities;

.app {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    font-size: 32px;
    font-weight: 900;
    margin: 32px 0;
}

#form-todo {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 24px;
}

#control-todo {
    width: 25vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#input-todo {
    width: 75%;
    border-radius: 8px;
}

#button-todo {
    width: 15%;
}

#filter-todo {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 24px;
}

#filter-button {
    width: 25vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#button-content {
    border-radius: 8px;
}

#todo-list {
    width: 25vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#content-todo {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
}

#button-action {
    display: flex;
}

#button-action button {
    margin: 0 6px;
}